@{
	ViewBag.Title = "Corner Fishing Home";
	Layout = "~/Views/Shared/_default.cshtml";
    fishingDataEntity fish = new fishingDataEntity();
}

@using CornerFishing.Models 

<h2>Current Season Standings</h2>

<div>

	<div class="section">
        
        <b>Overall Point Totals as of @fish.sp_GetLastEvent().FirstOrDefault()</b>
        			
		<table class="standings">
			<thead>
				<tr class="srow">
					<th>Place</th>
					<th>Team</th>
					<th>Total<br />Points</th>
				</tr>
			</thead>

            @foreach (var team in fish.sp_GetPointTotals() )
            {
                
            <tr>
				<td class="std">@team.Place </td>
				<td class="team"><a href='#'>@team.TeamName</a></td>
				<td class="std">@team.TotalPoints</td>
			</tr>
            
            }

		</table>

	</div>

</div>

<br />
			
<h2>CornerFishing.com Goes (Partially) Live!</h2>
<div>
	<div class="section">

		<div style="text-align:center"><img src="http://i42.tinypic.com/2e1axed.png" style="max-height:400px" /></div>

		<p>
            While still under construction, CornerFishing.com has gone live with event scores, weights, and season overall totals.  Check back often for further updates and added site functionality.
		</p>

	</div>
</div>

<h2>Results of Last Recorded Event</h2>
<div>
	<div class="section">
		<b>Weights and Points of @fish.sp_GetLastEvent().FirstOrDefault()</b>

        <table class="standings">
			<thead>
				<tr class="srow">
					<th>Place</th>
					<th>Team</th>
                    <th>Fish<br />Count</th>
                    <th>Big Fish</th>
                    <th>Total Wgt</th>
                    <th>Points</th>
                    <th>Bonus</th>
					<th>Total<br />Points</th>
				</tr>
			</thead>

            @foreach (var result in fish.sp_GetEventResults(0) )
            {
                
            <tr>
				<td class="std">@result.Place</td>
				<td class="std">@result.TeamName</td>
                <td class="std">@result.FishCount</td>
                @if (result.BigFishFlag == 1)
                {
                    <td class="std" style="font-weight:bolder; width:150px">@result.BigFish</td>
                }
                else
                {          
                    <td class="std" style="width:150px">@result.BigFish</td>
                }
                
                <td class="std" style="width:150px">@result.TotalWeight </td>
                <td class="std">@result.Points </td>
                <td class="std">@result.BonusPoints </td>
				<td class="std">@result.TotalPoints</td>
			</tr>
            
            }

		</table>
					
	</div>
</div>
